# Transpiled files and dependencies
/node_modules
/public/js
/public/css
/dist

# Application instance specific
/logs
/db
/bin/.browserify-cache.json

# junk files
npm-debug.log
.DS_Store
Thumbs.db
package-lock.json

TODOS.md
